body{
    background-color: rgb(53, 53, 49);
}

#road{
    height: 400vh;
    width: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(142, 139, 130);
    margin-top: -405px;
}

#instruction{
    margin-left: 100px;
    margin-right: 100px;

}

.images{
    background-color: white;
    width: 300px;
    height: 300px;
    position: absolute;
    opacity: 0;
}

.images:hover{
    cursor: pointer;
}

#a{
    top: 175px;
    left: 5%;
}
#b{
    top: 130px;
    left: 30%;
}
#c{
    top: 1644px;
    left: 20px;
}
#d{
    top: 155px;
    left: 713px;
}
#e{
    top: 423px;
    left: 52%;
}
#f{
    top: 600px;
    left: 65%;
}
#g{
    top: 411px;
    left: 289px;
}
#h{
    top: 600px;
    left: 64%;
}


#i{
    top: 535px;
    left: 15px;
}

#j{
    top: 739px;
    left: 305px;
}

#k{
    top: 756px;
    left: 646px;
}

#l{
    top: 839px;
    left: 955px;
}

#m{
    top: 257px;
    left: 955px;
}

#n{
    top: 932px;
    left: 70px;
}

#o{
    top: 1016px;
    left: 380px;
}

#p{
    top: 1098px;
    left: 690px;
}

#q{
    top: 1376px;
    left: 369px;
}

#r{
    top: 1188px;
    left: 919px;
}

#s{
    top: 1416px;
    left: 644px;
}

#t{
    top: 1275px;
    left: 61px;
}


#u{
    top: 1607px;
    left: 313px;
}


#v{
    top: 1828px;
    left: 936px;
}


#w{
    top: 1705px;
    left: 626px;
}

#x{
    top: 1871px;
    left: 181px;
}

#y{
    top: 1894px;
    left: 13px;
}

#z{
    top: 1471px;
    left: 953px;
}